html,
body,
#root {
  height: 100%;
}

.momentum {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  height: 100%;
  color: red;
  font-size: 30px;
}

.momentum .header {
  display: flex;
}

.momentum .footer {
  display: flex;
}
