body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.ag-theme-balham .ag-ltr .ag-has-focus .ag-cell-focus,
.ag-theme-balham .ag-rtl .ag-has-focus .ag-cell-focus {
  border: none !important;
}

input:focus {
  outline-width: 0;
}
input {
  font-size: 14px;
}

.note .noteInput {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.note .noteItem {
  display: flex;
  justify-content: space-between;
  border-bottom: solid #f9a02c 1px;
  margin-bottom: 1.6em;
  padding-bottom: 0.6em;
  width: 60%;
}

.note .noteItems,
.note .noNote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.note .noteItem.strikethrough .content {
  text-decoration: line-through;
}

.note .noteInput input {
  border: none;
  border-bottom: 1px solid #f9a02c;
  margin-bottom: 1.6em;
  padding-bottom: 0.6em;
}

.learning {
  display: flex;
}
.learning .menu {
  background: lightblue;
}

.stock .chartContainer {
  display: flex;
}

.stock .stockTable {
  margin-bottom: 50px;
}

.chartTV {
  height: 500px;
}

.chartTV > iframe {
  height: 100% !important;
}

.checkList .ag-theme-balham .ag-root {
  border: none;
}
.checkList .ag-theme-balham .ag-header {
  border: none;
}

.checkList .actionButtons {
  display: flex;
}
.checkList .deleteRowButton {
  display: none;
}

.checkList .ag-row-hover .deleteRowButton {
  display: block;
}

.customedInput {
  width: 100%;
}

.customedAgGrid {
  height: 500px;
  display: flex;
  flex-direction: column;
}
.customedAgGrid .header {
  display: flex;
}

.agGridReactRoot {
  flex: 1;
}

.jobMarket .analysisContainer {
  display: flex;
}

.jobMarket .barChartContainer {
  display: flex;
  align-items: center;
}

.businessSummary .highlight {
  background: lightblue;
}

.businessSummary .number {
  text-align: right;
}
